.searchGroup {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    margin-left: 15px;
}

.searchField {
    margin-right: 10px;
}

.search-btn {
    height: max-content;
    border: .5px solid lightgray;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5%;
}

.searchBox {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}
