
.bookContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid darkcyan;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.statistics {
    border: 1px solid darkcyan;
    margin: 5px;
}

.currentBook {
    border: 1px solid darkcyan;
    margin: 5px;
}

.goals {
    border: 1px solid darkcyan;
    margin: 5px;
}

