.searchGroup {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    margin-left: 15px;
}

.searchField {
    margin-right: 10px;
}

.search-btn {
    height: max-content;
    border: .5px solid lightgray;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5%;
    background-color: rgb(236, 235, 235);
    color: black;

}

.search-btn:hover{
    background-color:#D1C9BE;
    color: black;

    }

.searchBox {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif
}


.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5px;
}

.sort {
    margin-top: 20px;
    margin-left: 30px;
}

#dropdown-basic {
    background-color: rgb(236, 235, 235);
    border-color:rgb(236, 235, 235);
    border-radius: 5%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: max-content;


}

#dropdown-basic:hover {
    background-color:#D1C9BE;
    border-color: #D1C9BE;
    color: black;
    }

.cardBox {
    display: flex;
    justify-content: center;
    height: 50rem;
    margin: 10px;
    width: 17%;
    height: max-content;
    background-color: whitesmoke;
    border: 0px;
    height: 45rem;
    width: 14%;
    
}

.img_search_card {
    width: 70%;
    height: fit-content;
    margin-left: 15%;
    margin-top: 6%;
}

.searchCard_body_header {
    margin: 1.5%;
    margin-bottom: 1.5rem;
    letter-spacing: .75px;
}

.cardBody_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: 85%;
    align-items: center;
}

#currentBtn {
  background-color: #2D4B4D;
  border: 0px;
}

#currentBtn:hover {
  background-color: #273e47;
  border: 0px;
}

.currentButtons {
    display: flex;
    flex-direction: column;
 
}

.search_books_header {
    display: flex;
    position: absolute;
    left: 0;
    margin: 20px;
    margin-left: 30px;
}

.modal_footer_card {
    display: flex;
    justify-content: space-between;
    background-color: #f2e9e4;
}

.left_card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-right: 10px;
}