.navbar {
    background-color: #D1C9BE;
    border: 1px whitesmoke outset;
    height: 45px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.nav {
    padding-right: 50px;
}


.home {
    color: #2D4B4D;
    margin-right: 25px;
}

.library {
    margin-left: 25px;
    margin-right: 25px;
    color: #2D4B4D;
}

.find {
    margin-right: 25px;
    margin-left: 25px;
    color: #2D4B4D;

}

.logout {
    color: #2D4B4D;
}

.intro {
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 26px;
    width: 40%;
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: large;
    color: #2D4B4D;
}