.textRegister {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-title {
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.loginButtons {
    display: flex;
    flex-direction: column;
}

a {
    display: flex;
    flex-direction: row;
    margin-left: 15px;

}

.containerField {
    width: 30%;
    color: #2D4B4D;

}

.registration {
    width: 30%;
    color: #2D4B4D;
    margin-left: 35%;
}

.email {
    margin-bottom: 15px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 15px;
}

.signup {
    display: flex;
    justify-content: center;
}

.form {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

#image {
    background: url(https://img.freepik.com/free-vector/book-lover-concept-illustration_114360-1467.jpg?w=1380&t=st=1661226519~exp=1661227119~hmac=b4b7eedc54cd2073eb561cdcd7ebe671c79f8eedfee5bd84425d7257bc6e7f1f);
    background-repeat: no-repeat;
    background-size: contain;
    height: 290px;
    width: 300px;
    margin-left: 75px;


}

.container--login {
    background-color: white;
}
