.goalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goalList {
    display: flex;
    flex-direction: row;
}

.btn-link {
    margin-top: 10px;
    justify-self: flex-end;
}